<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="pet-store-api-tests" verbose="1">
    <listeners>
        <listener class-name="common.MyTestListener"/>
    </listeners>
    <test name="SmokeTests">
        <classes>
            <class name="tests.smoke.petTests"/>
            <class name="tests.smoke.storeTests"/>
            <class name="tests.smoke.userTests"/>
        </classes>
    </test>
    <test name="RegressionTests">
        <classes>
            <class name="tests.regression.petTests"/>
            <class name="tests.regression.storeTests"/>
            <class name="tests.regression.userTests"/>
        </classes>
    </test>
</suite>
